:root {
  --page-bgColor: #d8d8e4;
  --page-fontFamily: Verdana;
}

h1 {
  margin-bottom:.5rem;
}

button {
  padding:.5rem 1rem;
  background:#ddd;
  border-radius:4px;
  cursor:pointer;
}

button:hover {
  background:#bbb;
}

.intro {
  margin-bottom:1.5rem;
 }

main {
  max-width:1200px;
  margin:0 auto;
  padding:2vw;
}

/* Widgets! */
.widgets > header {
  margin-bottom:.5rem;
}

.widget { 
  margin-bottom:2vw;
}

.widget > * {
  padding:20px;
  text-align:left;
}

.widget__header {
  background:#fafafa;
}

.widget__example {
  background:#fff;
  position:relative;
}

@media(min-width:900px) {
  .widget { 
    display:flex;
  }

  .widget__header {
    width:33%;
  }

  .widget__example {
    width:67%;
  }
}

/* Widget Customizing */
[data-widget-name="LoadingIcon"] .loading-icon {
  transform:translateY(2px);
}

.multimedia-example { height:400px; }
.multimedia-example .video-player { padding-bottom:2.25rem; }

.dropdown-example .dropdownizer { width: 240px; }
.dropdown-example .dropdownizer dt { text-align:right; }

.popupizer__content {
  padding:2rem;
}