:root {
  --page-bgColor: #d8d8e4;
  --page-fontFamily: Verdana;
}


h1 { font-size:var(--fontSize-title-big); }

button {
  padding:.5rem 1rem;
  background:#ddd;
  border-radius:4px;
  cursor:pointer;
}

button:hover {
  background:#bbb;
}

main {
  max-width:1200px;
  margin:0 auto;
  padding:2vw;
}

section:not(:last-of-type) {
  margin-bottom:2.5rem;
}

section:not(:first-of-type) > header {
  padding-bottom:.25rem;
  margin-bottom:.25rem;
}

section > header > * {
  display:inline-block;
  margin-right:1rem;
}

/* Widgets! */
.widget { 
  margin-bottom:2vw;
}

.widget > * {
  padding:20px;
  text-align:left;
}

.widget__header {
  background:#fafafa;
}

.widget__example {
  background:#fff;
  position:relative;
}

/* Theme stuff */
.markdown-section > header {
  border-bottom:1px solid #bbb;
}

.markdown-section ul {
  margin-left: 1.5rem;
}

.markdown-section p strong {
  display:block; 
  padding-top:.75rem;
  font-weight:normal;
}

@media(min-width:900px) {
  .widget { 
    display:flex;
  }

  .widget__header {
    width:33%;
  }

  .widget__example {
    width:67%;
  }
}

/* Widget Customizing */
[data-widget-name="LoadingIcon"] .loading-icon {
  transform:translateY(2px);
}

.multimedia-example { height:400px; }
.multimedia-example .video-player { padding-bottom:2.25rem; }

.dropdown-example .dropdownizer { width: 240px; }
.dropdown-example .dropdownizer dt { text-align:right; }

.popupizer__content {
  padding:2rem;
}