:root {
  --page-bgColor: #d8d8e4;
  --page-fontFamily: Verdana;
}

.widgets {
  max-width:1500px;
  margin:0 auto;
  padding:2vw;
}

.widget { 
  display:flex;
  border:1px solid #ccc;
}

.widget > * {
  padding:20px;
  text-align:left;
}

.widget__header {
  width:33%;
  background:#f0f0f0;
}

.widget__example {
  background:#fff;
  position:relative;
  width:67%;
}

.multimedia-option { height:400px; }

.multimedia-option-video { margin-bottom:2.5rem; }
